In [ ]:
!pip install pandas
!pip install numpy

# Importing required libraries

In [16]:
import pandas as pd
import numpy as np

# Loading the Iris dataset and displaying first 5 rows

In [25]:
df = pd.read_csv('Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

# Calculating statistical summary for every column using df.describe() method

Else one can use different method like df.mean() , df.median() , df.std() etc.

In [18]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

# Calculating statistical summary for every column grouped by category i.e specie

In [23]:
statistics_grouped_by_species = df.groupby('Species')['SepalLengthCm'].agg(['mean' , 'median' , 'std' , 'var' , 'min' , 'max' , 'count' , 
                                                                           ('25%' , lambda x : np.percentile(x, 25)), 
                                                                           ('50%' , lambda x : np.percentile(x, 50)),
                                                                           ('75%' , lambda x : np.percentile(x, 75))])
statistics_grouped_by_species

,mean,median,std,var,min,max,count,25%,50%,75%
Species,,,,,,,,,,
Iris-setosa,5.006,5.0,0.352490,0.124249,4.3,5.8,50,4.800,5.0,5.2
Iris-versicolor,5.936,5.9,0.516171,0.266433,4.9,7.0,50,5.600,5.9,6.3
Iris-virginica,6.588,6.5,0.635880,0.404343,4.9,7.9,50,6.225,6.5,6.9